{% extends 'dappx/base.html' %}{% load crispy_forms_tags %} {% block title %}Forgot Your Password?{% endblock %} 
{% block body_block %}
<div class="row no-gutters">
	<div class="col-12 col-sm-6 col-md-8"></div>
	<div class="col-6  col-md-4">
		<div class="jumbotron">
      <h3>Forgot your password?</h3>
      <br>
			<p>Enter your email address below, and we'll email instructions for setting a new one.</p>
			<form method="POST">
				{% csrf_token %}
				{{ form | crispy }}
				<input class="btn btn-success" type="submit" value="Send me instructions!" />
			</form>
			<br />
			<p>Back to <a href="{% url 'dappx:user_login' %}">log in page</a>.</p>
		</div>
	</div>
	{% endblock %}
</div>
